:root {
    --primary-color: #000000;
    --secondary-color: #941100;
    --tertiary-color: rgb(230, 179, 79, 0.4);
    --accent1color: #1E1E1E;
    --accent2color: #fff;
    --heading-font: "Oswald", "Georgia", serif;
    --body-font: "Lato", "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img {
    margin-right: auto;
}

header nav a {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #555;
    text-decoration: none;
    color: var(--accent2color);
    background-color: var(--secondary-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

body {
    font-family: var(--body-font);
    color: var(--accent1color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    padding: 5px;
    text-align: center;
}

section img {
    max-width: 300px;
    max-height: 200px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.7;
    background-color: var(--accent1color);
    color: var(--accent2color);
}

.hero article {
    position: absolute;
    bottom: 10px;
    left: 30px;
    opacity: 0.7;
    background-color: var(--accent1color);
}

.hero article img {
    margin: 10px 10px 0 0;
    float: right;
    width: 150px;
    padding: .3rem;
}

.hero {
    position: relative;
    color: #fff;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
}

.history h2 {
    grid-column: 1 / 4;
    margin: 5px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    text-align: center;
}

.adventures h2 {
    grid-column: 1/6;
    margin: 5px;
}

.info {
    text-align: center;
    font-size: large;
    line-height: 1px;
}

.map-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map-form iframe {
    max-width: 350px;
    height: 350px;
    margin-right: 2rem;
}

.map-form form {
    display: flex;
    flex-direction: column;
    font-family: var(--body-font);
    background-color: var(--secondary-color);
    color: var(--accent2color);
    width: 400px;
    padding: 1.5rem;
    gap: 15px;
    margin: 0 auto;
}

.map-form form div {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: start;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid rgb(0 0 0/0.5);
    border-radius: .5rem;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

button {
    padding: .5rem;
    background-color: var(--accent2color);
    font-size: large;
}

button:hover {
    background-color: #d18a80;
}

.radio-group {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: start;
    gap: 5px;
}

.radio-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-options label {
    display: flex;
    align-items: start;
    gap: 8px;
}

.employee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
    justify-content: space-evenly;
}

.employee img {
    width: 150px;
}

.employee h2 {
    grid-column: 1/4;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.socialmedia a {
    text-decoration: none;
}