* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.5);
    padding: 1rem;
    background-color: rgb(112, 156, 237);
}

h1 {
    margin: .5rem;
}

form {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.5);
    padding: 1rem;
    background-color: rgb(166, 188, 228);
    text-align: center;
}

input,
textarea,
select {
    padding: .5rem;
    width: 350px;
    margin-bottom: 1rem;
}

code {
    display: block;
    width: 250px;
    text-align: center;
    margin: .8rem auto;
    padding: .3rem;
    background-color: rgb(88, 88, 88);
    color: #fff;
}

button {
    background-color: rgb(74, 111, 245);
    color: #fff;
    padding: .5rem;
    margin: 1rem auto;
    font-size: large;
    display: block;
    border-radius: 1rem;
    border: 1px solid rgb(0 0 0/0.5);
}