:root {
    --background-color: darkblue;
    --text-color-primary: white;
    --border: 1px solid rgb(0 0 0 /0.1):
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--text-color-primary);
    display: block;
    padding: 20px;
}

main {
    max-width: 600px;
}

h1 {
    color: var(--background-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color-primary);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: var(--border);
    text-align: center;
}